:root {
	--ff-header: "Spectral", serif;
	--ff-body: "Karla", sans-serif;

	--fw-light: 300;
	--fw-bold: 700;

	--clr-light: #d5eeff;
	--clr-dark: #005689;
	--clr-accent: #d46239;

	--bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
		0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	background: var(--clr-dark);
	font-family: var(--ff-body);
	font-size: var(--fs-body);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Typography */

a {
	text-decoration: none;
	color: var(--clr-accent);
	letter-spacing: 1px;
}

p {
	line-height: 1.5;
}

strong {
	font-style: normal;
}
