:root {
	--header-font: "Spectral", serif;
	--body-font: "Karla", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--body-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Typography */

h1 {
	font-family: var(--header-font);
}

a {
	text-decoration: none;
}
